{% load sharedfilters %}
<!-- next span from citation [21] -->
<span id="{{ month.month }}.{{ month.year }}"></span>
<div class="monthName">
  {{ month.monthWorded }} {{ month.year }}
</div>
<!-- THIS TABLE TAG AND ALL ITS CONTENTS CITATION [38] -->
<table class="monthContainer">
  {% for week in month.weeks %}
  <tr class="weekContainer">
    <td class="weekStats">
      stats{% if user == profileOwner %}<a href="{% url "weekPDFView" profileOwner.username week.days.0.date.year week.days.0.date.month week.days.0.date.day %}">PDF</a>{% endif %}<br>
      {% for typeStat in week.getStats %}
      <div class="typeStat">{{ typeStat.0 }}: {{ typeStat.1|prettydecimal }}</div>
      {% endfor %}

    </td>
    <!--<div class="dateShiftContainer leftAlign">-->
      {% for day in week.days %}
      <td class="date {% if day.date.month == month.month %}darkDate{% endif %}">
        <!-- STORING DATE (CALL TO storeDate(this) IN NEXT LINE) TECHNIQUE FROM CITATION [25] -->
        {% if user == profileOwner %}<a onclick="storeDate(this)" data="{{ day.date.year }}.{% if day.date.month < 10%}0{% endif %}{{ day.date.month }}.{% if day.date.day < 10 %}0{% endif %}{{ day.date.day }}">{% endif %}{{ day.dayOfWeekWorded }} {{ day.date.day }}{% if user == profileOwner %}</a>{% endif %}
        <div class="dateWorkoutDiv">
          {% for workout in day.workouts %}
          <a href="{% url "viewEntryView" workout.id %}">{{ workout.title }}</a><br>
          {% endfor %}
        </div>
      </td>
      {% endfor %}
    <!--</div>-->
  </tr>
  {% endfor %}
</table>
<!-- END table TAG CITATION -->
