{% extends 'shared/base.html' %}
{% block inheritor %}
{% load staticfiles %}
<style>
  #userWrapper {
    box-sizing:border-box;
    padding-top:50px;
    width:100%;
    height:100%;
    background-color: #fcfcf8; /* used hex color picker, citation [2] in top-level repository README */
  }
  #banner {
    width:100%;
    background-color:#000;
    height:300px;

  }
  /* citation [11] */
  #profilePicture {
    box-sizing:border-box;
    height:100%;
    padding:1%;
  }
  /* end citation [11] */
  #profilePictureDiv {
    width:100%;
    height:20%;
    text-align:center;
  }
  #calendar {
    width:100%;
    height:80%;
    background-color: #778;
    color:#334;
    margin-top:0px;
    /* citation [12] */
    font-size:0px;
    /* end citation */
  }
  #calendarControls {
    width:100%;
    height:7%;
    background-color: #667;
    color:#334;
  }
  #calendarControlsTable {
    height:100%;
  }
  .tableInlineDiv {
    height:100%;
    display:inline-block;
  }
  #calendarControlsTable > tbody {
    box-sizing: border-box;
    height:100%;
  }
  #userInformationTable {
    height:100%;
    float:right;
  }
  #userInformationTableWrapper {
    float:right;
  }

  #dates {
    height:93%;
    overflow-x:hidden;
    overflow-y:scroll;
    width:100%;
    /* citation [7] */
    margin-right:0px;
    padding-right:0px;
    /* end citation */
  }
  .calendarControl {
    margin:20px;
  }
  .calendarControl > select {
    border:0px solid black;
    border-radius:0px;
    padding:0px;
    background-color: rgba(0,0,0,0.0);
    /* citation [13] */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* end citation */
    margin-left:0px;
    color:#223;
    font-size:16px;
  }
  .calendarControl > button {
    border-radius:0px;
    border:0px solid black;
    background-color: rgba(0,0,0,0.0);
    margin-left:0px;
    color:#223;
    font-size:16px;
  }
  #userInformationTable > tbody > tr > td {
    color:#fff;
    font-size:16px;
  }
  @media screen and (max-width:600px) {
    .calendarControl > select {
      border:0px solid black;
      border-radius:0px;
      padding:0px;
      background-color: rgba(0,0,0,0.0);
      /* citation [13] */
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      /* end citation */
      margin-left:0px;
      color:#223;
      font-size:12px;
    }
    .calendarControl > button {
      border-radius:0px;
      border:0px solid black;
      background-color: rgba(0,0,0,0.0);
      margin-left:0px;
      color:#223;
      font-size:12px;
    }
    #userInformationTable > tbody > tr > td {
      color:#fff;
      font-size:12px;
    }
  }
  .weekContainer {
    width:100%;
  }
  .weekContainer > .weekStats, .weekContainer > .dateShiftContainer > .date {
    box-sizing:border-box;
    min-height:150px;
    margin-top:1px;
    border-right:1px solid #778;
  }
  .monthContainer {
    margin-top:50px;
  }
  .monthName {
    font-size:20px;
    text-align: center;
    margin-bottom:30px;
    color:#334;
  }
  .leftAlign > div {
    float:left;
  }
  .rightAlign > div {
    float:right;
  }
  .date {
    width:14.28%;
    height:100%;
    display:inline-block;
    background-color:#aab;
    font-size:12px;
    box-sizing:border-box;
    padding:10px;

  }
  .darkDate {
    background-color:#ccd;
  }
  .weekStats {
    box-sizing: border-box;
    padding:10px;
    display:inline-block;
    width:12.5%;
    height:100%;
    font-size:12px;
    background-color: #223;
    float:left;
  }
  .dateShiftContainer {
    width:87.5%;
    display:inline-block;
    height:100%;
  }
  @media screen and (max-width:600px) {
    .date {
      width:100%;
      height:100px;
      display:block;
      background-color:#aab;
      font-size:12px;
      box-sizing:border-box;
      padding:10px;

    }
    .weekStats {
      box-sizing: border-box;
      padding:10px;
      display:block;
      width:100%;
      height:100px;
      font-size:12px;
      background-color: #223;
      float:left;
    }
    .dateShiftContainer {
      width:100%;
      display:inline-block;
      height:100%;
    }
  }
  .currentDate {
    background-color:#0ff;
  }
  .dateShiftContainer > .spacer {
    width:2%;
    height:100%;
    display:inline-block;
  }
  .dateWorkoutDiv {
    padding-top:10px;
  }
  .dateWorkoutDiv > a {
    text-decoration:none;
    color:#000;
  }
  #followButton, #blockButton {
    outline:none;
    border:none;
    height:25px;
    background-color:#334;
    color:#fff;


  }
  #followButton {
    margin-left:10px;
    margin-right:2px;
  }
  #blockButton {
    margin-left:2px;
    margin-right:10px;
  }
</style>
<div id="userWrapper">
  <!--<div id="banner">
  </div>-->
  <div id="profilePictureDiv">
    <img id="profilePicture" src="{% static "userProfile/pennrosediagram.png" %}"/>
  </div>

  <div id="calendar">
    <div id="calendarControls">
      <div class="tableInlineDiv">
        <table id="calendarControlsTable">
          <tbody>
            <tr>
              <td class="calendarControl">
                <select id="monthSelector" onchange="updateCalendar();">
                  <option value="1">
                    January
                  </option>
                  <option value="2">
                    February
                  </option>
                  <option value="3">
                    March
                  </option>
                  <option value="4">
                    April
                  </option>
                  <option value="5">
                    May
                  </option>
                  <option value="6">
                    June
                  </option>
                  <option value="7">
                    July
                  </option>
                  <option value="8">
                    Augus
                  </option>
                  <option value="9">
                    September
                  </option>
                  <option value="10">
                    October
                  </option>
                  <option value="11">
                    November
                  </option>
                  <option value="12">
                    December
                  </option>
                </select>
              </td>
              <td class="calendarControl">
                <select id="yearSelector" onchange="updateCalendar();">
                  <option value="1998">
                    1998
                  </option>
                  <option value="1999">
                    1999
                  </option>
                  <option value="2000">
                    2000
                  </option>
                  <option value="2001">
                    2001
                  </option>
                  <option value="2002">
                    2002
                  </option>
                  <option value="2003">
                    2003
                  </option>
                  <option value="2004">
                    2004
                  </option>
                  <option value="2005">
                    2005
                  </option>
                  <option value="2006">
                    2006
                  </option>
                  <option value="2007">
                    2007
                  </option>
                  <option value="2008">
                    2008
                  </option>
                  <option value="2009">
                    2009
                  </option>
                  <option value="2010">
                    2010
                  </option>
                  <option value="2011">
                    2011
                  </option>
                  <option value="2012">
                    2012
                  </option>
                  <option value="2013">
                    2013
                  </option>
                  <option value="2014">
                    2014
                  </option>
                  <option value="2015">
                    2015
                  </option>
                  <option value="2016">
                    2016
                  </option>
                  <option value="2017">
                    2017
                  </option>
                  <option value="2018">
                    2018
                  </option>
                  <option value="2019">
                    2019
                  </option>
                  <option value="2020">
                    2020
                  </option>
                  <option value="2021">
                    2021
                  </option>
                  <option value="2022">
                    2022
                  </option>
                  <option value="2023">
                    2023
                  </option>
                  <option value="2024">
                    2024
                  </option>
                  <option value="2025">
                    2025
                  </option>
                  <option value="2026">
                    2026
                  </option>
                  <option value="2027">
                    2027
                  </option>
                  <option value="2028">
                    2028
                  </option>
                  <option value="2029">
                    2029
                  </option>
                  <option value="2030">
                    2030
                  </option>
                  <option value="2031">
                    2031
                  </option>
                  <option value="2032">
                    2032
                  </option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tableInlineDiv" id="userInformationTableWrapper">
        <table id="userInformationTable">
          <tbody>
            <tr>
              <td>
                {{ profileOwner.username }} • <!-- bullet point idea from citation [8] -->
              </td>
              <td>
                {{ mileage }} miles
              </td>
              {% if user.is_authenticated %}
              <td>
                <button id="followButton" onclick="followAction();">
                  {% if followsUser %}unfollow{% else %}follow{% endif %}
                </button>
              </td>
              {% endif %}
              {% if user.is_authenticated %}
              <td>
                <button id="blockButton" onclick="blockAction();">
                  {% if blocked %}unblock{% else %}block{% endif %}
                </button>
              </td>
              {% endif %}
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="dates" onscroll="getMonthsScroll();">
      {% for month in months %}
      {% include "userProfile/month.html" %}
      {% endfor %}
    </div>
  </div>
</div>
<script>
  function followAction() {
    $.ajax("{% url "userView" profileOwner.username %}", {
      method  : "POST",
      data    : {
        // next line from citation [15]
        csrfmiddlewaretoken : "{{ csrf_token }}",
        todo                : "followAction"
      },
      success : function(ajaxResponseText, ajaxStatus, ajaxResponse) {
        if (ajaxResponseText == "1") {
          document.getElementById("followButton").innerHTML = "unfollow";
        } else {
          document.getElementById("followButton").innerHTML = "follow";
        }
      },
      error   : function(ajaxResponse, ajaxStatus, ajaxError) {
        alert(ajaxResponse.responseText);
      }
    })
  }

  function blockAction() {
    $.ajax("{% url "userView" profileOwner.username %}", {
      method  : "POST",
      data    : {
        // next line from citation [15]
        csrfmiddlewaretoken : "{{ csrf_token }}",
        todo                : "blockAction"
      },
      success : function(ajaxResponseText, ajaxStatus, ajaxResponse) {
        if (ajaxResponseText == "1") {
          document.getElementById("blockButton").innerHTML = "unblock";
        } else {
          document.getElementById("blockButton").innerHTML = "block";
        }
      },
      error   : function(ajaxResponse, ajaxStatus, ajaxError) {
        alert(ajaxResponse.responseText);
      }
    })
  }



  function updateCalendar() {
    $.ajax("{% url "userView" profileOwner.username %}", {
      method  : "POST",
      data    : {
        month               : document.getElementById("monthSelector").value,
        year                : document.getElementById("yearSelector").value,
        // next line from citation [15]
        csrfmiddlewaretoken : "{{ csrf_token }}",
        todo                : "updateCalendar"
      },
      success : function(ajaxResponseText, ajaxStatus, ajaxResponse) {
        document.getElementById("dates").innerHTML = ajaxResponseText;
        // scrollIntoView() suggestion from citation [21]
        document.getElementById(document.getElementById("monthSelector").value + "." + document.getElementById("yearSelector").value).scrollIntoView(true);
      },
      error   : function(ajaxResponse, ajaxStatus, ajaxError) {
        alert(ajaxResponse.responseText);
      }
    });
  }

  var scrollMonthEarlier  = {{ earliestMonth }};
  var scrollMonthLater    = {{ latestMonth }};
  var scrollYearEarlier   = {{ earliestYear }};
  var scrollYearLater     = {{ latestYear }};
  var fetchingMonths      = false;

  function getMonthsScroll() {
    var monthsHeight = 0.0;
    $(".monthContainer").each(function(index, domElement) {
      monthsHeight += $(domElement).outerHeight();
    })
    console.log("here boiiiiii");
    // inspired by citation [22]
    if ($("#dates").scrollTop() == 0 && !fetchingMonths) {
      fetchingMonths = true;
      $.ajax("{% url "userView" profileOwner.username %}", {
        method  : "POST",
        data    : {
          month               : scrollMonthEarlier,
          year                : scrollYearEarlier,
          // next line from citation [15]
          csrfmiddlewaretoken : "{{ csrf_token }}",
          todo                : "scrollEarlier"
        },
        success : function(ajaxResponseText, ajaxStatus, ajaxResponse) {
          $("#dates").prepend(ajaxResponseText['html']);
          console.log(scrollMonthEarlier + "." + scrollYearEarlier);
          // scrollIntoView() suggestion from citation [21]
          document.getElementById(scrollMonthEarlier + "." + scrollYearEarlier).scrollIntoView(true);
          scrollMonthEarlier = ajaxResponseText['month'];
          scrollYearEarlier  = ajaxResponseText['year'];
          fetchingMonths = false;
        },
        error   : function(ajaxResponse, ajaxStatus, ajaxError) {
          alert(ajaxResponse.responseText);
          fetchingMonths = false;
        }
      });
    } else if ($("#dates").scrollTop() + $("#dates").height() >= monthsHeight && !fetchingMonths) { // this conditional from citation [22]
      fetchingMonths = true;
      $.ajax("{% url "userView" profileOwner.username %}", {
        method  : "POST",
        data    : {
          month               : scrollMonthLater,
          year                : scrollYearLater,
          // next line from citation [15]
          csrfmiddlewaretoken : "{{ csrf_token }}",
          todo                : "scrollLater"
        },
        success : function(ajaxResponseText, ajaxStatus, ajaxResponse) {
          scrollMonthLater = ajaxResponseText['month'];
          scrollYearLater  = ajaxResponseText['year'];
          $("#dates").append(ajaxResponseText['html']);
          fetchingMonths = false;
        },
        error   : function(ajaxResponse, ajaxStatus, ajaxError) {
          alert(ajaxResponse.responseText);
          fetchingMonths = false;
        }
      });
    }
  }

  var currDate = new Date();
  var dateString = (currDate.getMonth()+1) + "." + currDate.getFullYear();
  // scrollIntoView() suggestion from citation [21]
  document.getElementById(dateString).scrollIntoView(true);
  console.log(dateString);
</script>
{% endblock %}
