{% extends 'shared/base.html' %}
{% block inheritor %}
<style>
  #userWrapper {
    margin-top:50px;
    width:100%;
  }
  #banner {
    width:100%;
    background-color:#000;
    height:300px;

  }
  /* citation [11] */
  #profilePicture {
    width:200px;
    height:200px;
    /* citation [5] */
    margin-left:auto;
    margin-right:auto;
    /* end citation [5] */
    margin-top:-250px;
    background-color:#0f0;
  }
  /* end citation [11] */

  #calendar {
    width:100%;
    height:600px;
    background-color:#00f;
    margin-top:50px;
    /* citation [12] */
    font-size:0px;
    /* end citation */
  }
  .date {
    width:12.5%;
    height:20%;
    display:inline-block;
    background-color:#fff;
    font-size:12px;
  }
</style>
<div id="userWrapper">
  <div id="banner">
  </div>
  <div id="profilePicture">
  </div>


  <div id="calendar">
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
    <div class="date">
      date
    </div>
  </div>
</div>
{% endblock %}
