{% extends 'shared/base.html' %}
{% block inheritor %}
{% load staticfiles %}
<style>
  #userWrapper {
    box-sizing:border-box;
    padding-top:50px;
    width:100%;
    height:100%;
    background-color: #fcfcf8; /* used hex color picker, citation [2] in top-level repository README */
  }
  #banner {
    width:100%;
    background-color:#000;
    height:300px;

  }
  /* citation [11] */
  #profilePicture {
    box-sizing:border-box;
    height:100%;
    padding:1%;
  }
  /* end citation [11] */
  #profilePictureDiv {
    width:100%;
    height:20%;
    text-align:center;
  }
  #calendar {
    width:100%;
    height:80%;
    background-color: #778;
    color:#334;
    margin-top:0px;
    /* citation [12] */
    font-size:0px;
    /* end citation */
  }
  #calendarControls {
    width:100%;
    height:7%;
    background-color: #667;
    color:#334;
  }
  #calendarControlsTable {
    height:100%;
  }
  .tableInlineDiv {
    height:100%;
    display:inline-block;
  }
  #calendarControlsTable > tbody {
    box-sizing: border-box;
    height:100%;
  }
  #userInformationTable {
    height:100%;
    float:right;
  }
  #userInformationTableWrapper {
    float:right;
  }

  #dates {
    height:93%;
    overflow-x:hidden;
    overflow-y:scroll;
    width:100%;
    /* citation [7] */
    margin-right:0px;
    padding-right:0px;
    /* end citation */
  }
  .calendarControl {
    margin:20px;
  }
  .calendarControl > select {
    border:0px solid black;
    border-radius:0px;
    padding:0px;
    background-color: rgba(0,0,0,0.0);
    /* citation [13] */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* end citation */
    margin-left:0px;
    color:#223;
    font-size:16px;
  }
  .calendarControl > button {
    border-radius:0px;
    border:0px solid black;
    background-color: rgba(0,0,0,0.0);
    margin-left:0px;
    color:#223;
    font-size:16px;
  }
  #userInformationTable > tbody > tr > td {
    color:#fff;
    font-size:16px;
  }
  @media screen and (max-width:600px) {
    .calendarControl > select {
      border:0px solid black;
      border-radius:0px;
      padding:0px;
      background-color: rgba(0,0,0,0.0);
      /* citation [13] */
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      /* end citation */
      margin-left:0px;
      color:#223;
      font-size:12px;
    }
    .calendarControl > button {
      border-radius:0px;
      border:0px solid black;
      background-color: rgba(0,0,0,0.0);
      margin-left:0px;
      color:#223;
      font-size:12px;
    }
    #userInformationTable > tbody > tr > td {
      color:#fff;
      font-size:12px;
    }
  }
  .weekContainer {
    width:100%;
  }
  .weekContainer > .weekStats, .weekContainer > .dateShiftContainer > .date {
    box-sizing:border-box;
    min-height:150px;
    margin-top:1px;
    border-right:1px solid #778;
  }
  .monthContainer {
    margin-top:50px;
  }
  .monthName {
    font-size:20px;
    text-align: center;
    margin-bottom:30px;
    color:#334;
  }
  .leftAlign > div {
    float:left;
  }
  .rightAlign > div {
    float:right;
  }
  .date {
    width:14.28%;
    height:100%;
    display:inline-block;
    background-color:#aab;
    font-size:12px;
    box-sizing:border-box;
    padding:10px;

  }
  .weekStats {
    box-sizing: border-box;
    padding:10px;
    display:inline-block;
    width:12.5%;
    height:100%;
    font-size:12px;
    background-color: #223;
    float:left;
  }
  .dateShiftContainer {
    width:87.5%;
    display:inline-block;
    height:100%;
  }
  @media screen and (max-width:600px) {
    .date {
      width:100%;
      height:100px;
      display:block;
      background-color:#aab;
      font-size:12px;
      box-sizing:border-box;
      padding:10px;

    }
    .weekStats {
      box-sizing: border-box;
      padding:10px;
      display:block;
      width:100%;
      height:100px;
      font-size:12px;
      background-color: #223;
      float:left;
    }
    .dateShiftContainer {
      width:100%;
      display:inline-block;
      height:100%;
    }
  }
  .currentDate {
    background-color:#0ff;
  }
  .dateShiftContainer > .spacer {
    width:2%;
    height:100%;
    display:inline-block;
  }
  .dateWorkoutDiv {
    padding-top:0px;
  }
</style>
<div id="userWrapper">
  <!--<div id="banner">
  </div>-->
  <div id="profilePictureDiv">
    <img id="profilePicture" src="{% static "userProfile/pennrosediagram.png" %}"/>
  </div>

  <div id="calendar">
    <div id="calendarControls">
      <div class="tableInlineDiv">
        <table id="calendarControlsTable">
          <tbody>
            <tr>
              <td class="calendarControl">
                <button>
                    up
                </button>
              </td>
              <td class="calendarControl">
                <button>
                    down
                </button>
              </td>
              <td class="calendarControl">
                <select>
                  <option>
                    month
                  </option>
                </select>
              </td>
              <td class="calendarControl">
                <select>
                  <option>
                    year
                  </option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tableInlineDiv" id="userInformationTableWrapper">
        <table id="userInformationTable">
          <tbody>
            <tr>
              <td>
                username
              </td>
              <td>
                mileage
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="dates">
      {% for month in months %}
      {% include "userProfile/month.html" %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
