<!-- This file is part of the data export and deletion mechanism (the latter of which is
described by [244] and uses the technique described by [238]) -->



{% extends "shared/base.html" %}

{% block inheritor %}
	<style>
		#content {
			margin-top:   150px;
			margin-left:  100px;
			margin-right: 100px;
		}
		#full {
			height: 300px;
			width: 300px;
		}
		#small {
			height: 100px;
			width: 100px;
		}
	</style>

	<div id="content">
		<form method="POST">

			<h3>
				To remove your account and all its data from this site, fill out this form. While the data
				on the server right now will be deleted, we back up data for approximately two weeks, so
				it will take that long for your data to clear out from everywhere.
			</h3>

			Password: <input type="password" name="accessProof"> {{ passwordError }}

			<br>
			{% csrf_token %}
			<!--
				The following two lines do this:
					First line:   Sends the server the value that the user was supposed to type
					Second line:  The user needs to type something, and thus needs to prompted with what
				              	to type
			-->
			<input type="text" value="{{ toType }}" name="confirmationTruth" hidden>
			Type this: {{  toType }}

			<!-- Users type the random string used to make sure this wasn't an errant deletion in here -->
			<input type="text" name="confirmation"> {{ checkError }}

			<br>

			<input value="Delete" type="submit">


		</form>

		<!-- Providing data download for users -->
		<!--------------------------------------------------------------------------------------------->
		<br>These are the pictures we have on file for you (download them with your browser); in
		case you never had one, the default profile picture will show:<br>
		<img id="full" src="{{  user.userinfo.profilePictureURL  }}"><br>
		<img id="small" src="{{  user.userinfo.thumbURL  }}"><br>
		And the rest of your data can be found <a href="{% url 'export' %}">here</a>
		<!--------------------------------------------------------------------------------------------->
	</div>
{% endblock %}