{# This Django template is for importing data exported from Merv [70] #}
{% extends 'shared/base.html' %}
{% block inheritor %}
<style>
  #importDiv {
    margin-top:70px;
    width:100%;
  }
  #importDiv > h3 {
    text-align:center;
  }
  #mervData {
    width:100%;
    height:200px;
  }
</style>
<div id="importDiv">
  <!-- The name "Merv's RUNNING" was discovered from [101]'s page title-->
  <h3>Post your exported Merv's RUNNING (merv.stanford.edu by Mark Crimmins) data here (not including the part of export at the top with the instructions)</h3>
  <form method="post" action="{% url 'importView' %}">
    <textarea id="mervData" name="mervData"></textarea>
    <button>Allons y!</button>
    {% csrf_token %}
  </form>
</div>
{% endblock %}
