{% extends 'shared/base.html' %}
{% block inheritor %}
<style>
  #settingsDiv {
    box-sizing:border-box;;
    margin-top:50px;
    height:100%;
    width:100%;
    padding:30px;
  }
  h1 {
    padding:0px 30px 30px 30px;
    text-align:center;
  }
  #shoeSettings, #accountSettings {
    width:50%;
    display:inline-block;
    color:#fff;
    box-sizing:border-box;
    padding:20px;
    vertical-align:top;
  }
  #shoeSettings > *, #accountSettings > * {
    color:inherit;
  }

  #settingsPanes {
    background-color:#556;
  }
  .settingsTextBox {
    box-sizing:border-box;
    display:inline-block;
    outline:none;
    border:none;
    height:50px;
    width:60%;
    vertical-align: top;
    font-size:16px;
    padding:10px;
  }
  #addShoeButton {
    height:50px;
    padding-left:10px;
    padding-right:10px;
    box-sizing:border-box;
    outline:none;
    border:none;
    background-color:#0f0;
    color:#fff;
    font-size:16px;
    margin: 0px;
  }
  #newShoeName, #emailAddress, #displayName {
    color:#000;
  }
  #saveAccountSettingsButton {
    border:none;
    outline:none;
    box-sizing:border-box;
    height:50px;
    padding:10px;
    font-size:16px;
    color:#fff;
    background-color:#0f0;
    width:60%;
    margin: 10px 0px 0px 0px;
  }
  #privacySelect {
    outline:none;
    border:none;
    width:60%;
    height:50px;
    font-size:16px;
    color:#000;
    background-color:white;
    /* citation [13] */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* end citation */
    margin-top:10px;
    padding:10px;
  }
  @media screen and (max-width:600px) {
    #shoeSettings, #accountSettings {
      width:100%;
    }
    #emailAddress, #displayName, #privacySelect, #saveAccountSettingsButton {
      width:100%;
    }
    #settingsDiv {
      padding-left:0px;
      padding-right:0px;
    }
    #newShoeName {
      width:70%;
    }
    #addShoeButton {
      width:30%;
    }
  }
  .deleteShoeButton {
    background-color:#f00;
    display:inline-block;
    outline:none;
    border:none;
    color:#fff;
    height:30px;
    font-size:16px;
  }
  .shoeName {
    font-size:16px;
    display:inline-block;
    color:#fff;
    margin-left:10px;
  }
  #shoeListing {
    margin-top:20px;
  }
  .shoeContainer {
    margin-top:5px;
    margin-bottom:5px;
  }
</style>
<div id="settingsDiv">
  <h1>
    Settings
  </h1>
  <div id="settingsPanes">
    <div id="shoeSettings">
      <h3>
        Shoes
      </h3>
      <input id="newShoeName" name="newShoeName" class="settingsTextBox" placeholder="New Shoe Name"/><button id="addShoeButton">Add</button>
      <div id="shoeListing">
        <div class="shoeContainer">
          <button class="deleteShoeButton" onclick="deleteShoe(1);">
            delete
          </button><div class="shoeName">
            a shoe • mileage <!-- BULLET POINT USEAGE FROM CITATION [8] -->
          </div>
        </div>
        <div class="shoeContainer">
          <button class="deleteShoeButton" onclick="deleteShoe(1);">
            delete
          </button><div class="shoeName">
            a shoe
          </div>
        </div>
        <div class="shoeContainer">
          <button class="deleteShoeButton" onclick="deleteShoe(1);">
            delete
          </button><div class="shoeName">
            a shoe
          </div>
        </div>
        <div class="shoeContainer">
          <button class="deleteShoeButton" onclick="deleteShoe(1);">
            delete
          </button><div class="shoeName">
            a shoe
          </div>
        </div>
      </div>
    </div><div id="accountSettings">
      <h3>
        Account
      </h3>
      <input id="emailAddress" class="settingsTextBox" placeholder="New Email Address"/>
      <input id="displayName" class="settingsTextBox" placeholder="New Display Name"/>
      <select id="privacySelect">
        <option selected>
          Public
        </option>
        <option>
          Locked
        </option>
        <option>
          Completely hidden
        </option>
      </select>
      <button id="saveAccountSettingsButton">
        Save
      </button>
    </div>
  </div>
</div>
<script>
  function addShoe() {
    var shoeName = document.getElementById("newShoeName").value;
    $.ajax("{% url "settingsView" %}", {
      method  : "POST",
      success : function(shoeHTML, ajaxStatus, ajaxResponse) {
        $("$shoeListing").append(shoeHTML);
      },
      error   : function(ajaxResponse, ajaxStatus, ajaxError) {
        alert("There was a problem with your shoe creation. Maybe you input something incorrectly?");
      }
    })
  }
  function deleteShoe(shoeID) {
    var verdict = confirm("Are you sure you want to delete this shoe?");
  }
</script
{% endblock %}
