{% extends 'shared/base.html' %}
{% block inheritor %}
<style>
  #createAccountDiv {
    text-align:center;
    margin-top:50px;
    padding-top:20px;
  }
  input {
    /* citation [5] */
    margin-right:auto;
    margin-left:auto;
    /* end citation */
    display:block;
    height:30px;
    width:250px;
    background-color:rgba(0, 0, 0, 0);
    border:none;
    font-size:20px;
    border-bottom: 2px solid #eaeae2; /* used hex colorpicker, citation [2] in top-level repository README */
    padding:20px;
    outline:none;
    color:#778;
  }
  button {
    width:250px;
    background-color:#778;
    padding:20px;
    border:none;
    font-size:20px;
    color: #fdfdf8; /* HTML color picker used (citation [2] in top-level repository README) */
    outline:none;
    margin-top:20px;
  }
  .g-recaptcha > div {
    /* citation [5] */
    margin-right:auto;
    margin-left:auto;
    /* end citation */
    margin-top:20px;
  }
  #whoops {
    color:#f00;
  }
</style>
<div id="createAccountDiv">
  {% if error != "" %}
  <h3>
    <span id="whoops">Whoops!</span> {{ error }}
  </h3>
  {% endif %}
  <h1>
    Create Account
  </h1>
  <form action="{% url 'newAccountView' %}" method="post">
    {% csrf_token %}
    <input id="username" type="text" placeholder="username" name="username"/>
    <button>
      Make Account
    </button>
  </form>
</div>
{% endblock %}
