{% load sharedfilters %}
{% for workout in updates %}
<div class="update">
  <div class="updateHeader">
    <div class="workoutTitle">
      <a href="{% url "viewEntryView" workout.id %}" class="workoutLink">{{ workout.title }}</a>
    </div>
    <div class="workoutStats">
      {% if workout.updated %}
      <div class="updatedTag">
        {{ updatedTag }}
      </div>
      {% endif %}
      <!-- citation [8] -->
      {{ workout.date }} • {{ workout.distance|prettydecimal }} miles{% if workout.type != None %} • {{ workout.type }}{% endif %}{% if workout.shoe != None %} • {{ workout.shoe.name }}{% endif %}
      <!-- end citation -->
    </div>
    <!-- <div class="userPicture updateHeaderComponent">
    </div>
    <div class="usernameDiv updateHeaderComponent">
      Username
    </div> -->
  </div>
  <div class="workoutSummary">
    {{ workout.entry|linebreaksbr }}
  </div>
  <div class="updateFooter">
    <img class="userPicture" src="{{ workout.owner.userinfo.thumbURL }}"/>
    <div class="usernameOuter">
      <!-- citation [10] -->
      <div class="usernameInner">
        <div class="usernameCell">
          <a href="{% url "userView" workout.owner.username %}">{{ workout.owner.username }}</a>
        </div>
      </div>
      <!-- end citation -->
    </div>
  </div>
</div>
{% endfor %}
