# This file is used with
#   cron
#   author - Paul Vixie
#   author is from "man cron"
# Commands that Ben didn't type in himself but he has decided to
# cite include:
#   test
#     https://www.gnu.org/software/coreutils/
#     author - Jim Meyering, Padraig Brady, Bernhard Voelker, Eric Blake,
#              Paul Eggert, Assaf Gordon, whoever authored the orginal
#     authors and their order is taken from the above website
#   cd
#     Ubuntu 16.04
#     ubuntu.com
#   run-parts
#     Ubuntu 16.04
#     ubuntu.com
#   anacron
#     unknown website
#     authors - Christian Schwarz
#     author from https://linux.die.net/man/8/anacron
#   unknown shell that runs the commands
#     Ubuntu 16.04
#     ubuntu.com
# Everything in this file, except where noted (it will say it was
# modified by Ben, was originally in this file, and this file came
# with the AWS (aws.amazon.com) distribution of Ubuntu with AMI ID
#   ubuntu/images/hvm-ssd/ubuntu-xenial-16.04-amd64-server-20170721 (ami-09d2fb69)
# (this id is from AWS's console (console.aws.amazon.com))

# /etc/crontab: system-wide crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m h dom mon dow user	command
17 *	* * *	root    cd / && run-parts --report /etc/cron.hourly
25 6	* * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.daily )
47 6	* * 7	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.weekly )
52 6	1 * *	root	test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.monthly )
0  0    * * 1   ubuntu  geoipupdate -f /home/ubuntu/geoipupdateconfig
0  0    * * 2   ubuntu  geoipupdate -f /home/ubuntu/geoipupdateconfig
0  0    * * 3   ubuntu  geoipupdate -f /home/ubuntu/geoipupdateconfig
0  0    * * 4   ubuntu  geoipupdate -f /home/ubuntu/geoipupdateconfig
0  0    * * 5   ubuntu  geoipupdate -f /home/ubuntu/geoipupdateconfig
0  0    * * 6   ubuntu  geoipupdate -f /home/ubuntu/geoipupdateconfig
0  0    * * 7   ubuntu  geoipupdate -f /home/ubuntu/geoipupdateconfig
#
# The last 7 commands were added to this file by Ben as a suggestion by
#   https://dev.maxmind.com/geoip/geoipupdate/
#   Automatic Updates for GeoIP2 and GeoIP Legacy Databases << MaxMind Developer Site
#   retrieved - 2019.11.5, sometime during 2019.10.31 - 2019.11.4
#   author - MaxMind, Inc.
#   via - https://dev.maxmind.com/geoip/geoip2/geolite2/
# in the "Step 3 - Run GeoIP Update" section. It uses the geoipupdate command from
#   https://dev.maxmind.com/geoip/geoipupdate/
#   Automatic Updates for GeoIP2 and GeoIP Legacy Databases << MaxMind Developer Site
#   author - MaxMind, Inc.
#   retrieved - 2019.11.5, sometime during 2019.10.31 - 2019.11.4
#   via - https://dev.maxmind.com/geoip/geoip2/geolite2
# Initially this ran geoipupdate every day of the week. I kept it this way in the
# face of
#   https://blog.maxmind.com/2019/12/18/significant-changes-to-accessing-and-using-geolite2-databases/
#   Significant Changes to Accessing and Using GeoLite2 Databases | MaxMind Blog
#   author - Miguel Atienza
#   retrieved - 2020.1.17
#   published - 2019.12.18
#   via - https://dev.maxmind.com/geoip/geoip2/geolite2/
# which said that CCPA
#   https://leginfo.legislature.ca.gov/faces/billPdf.xhtml?bill_id=201720180AB375&version=20170AB37591CHP
#   Assembly Bill No. 375: Chapter 55
#   author - California Legislative Council
#   retrieved - 2020.1.18
#   published - 2018.6.28
#   via - https://en.wikipedia.org/wiki/California_Consumer_Privacy_Act
#         California Consumer Privacy Act - Wikipedia
#         retrieved - late 2019/early 2020
#         via - search with google.com with term "ccpa" (acronym from unknown reference(s) retrieved
#               around the same time
# requires that the fulfillment of requests from users to delete their personal data has to happen
# in a timely fashion. Further,
#   https://www.maxmind.com/en/geolite2/eula
#   GeoLite2 End User License Agreement | MaxMind
#   author - MaxMind
#   published - 2019.12.19
#   retrieved - 2020.1.16
#   via - https://dev.maxmind.com/geoip/geoip2/geolite2/
# in the "ADDITIONAL RESTRICTIONS" section says that I need to stop using GeoLite 2
#   https://dev.maxmind.com/geoip/geoip2/geolite2/
#   GeoLite2
#   author - MaxMind
# databases at most 30 days after they become obsolete and delete them within that time
# frame as well, so I run geoipupdate more frequent than every 30 days to ensure that this
# happens.
