{% extends "shared/base.html" %}

{% block inheritor %}
<style>
  #headliner {
    font-family:"Pinyon Script", serif;
    text-align:center;
    font-size:100px;
    padding:10px;
  }
  #punchline {
    text-align:center;
    font-family:"Quattrocento", serif;
    padding:10px;
  }
  #byline {
    text-align:center;
    font-family:"Quattrocento", serif;
    font-size:9px;
  }
</style>
<div id="headliner">
  rogger
</div>
<div id="punchline">
  Binders full of PC deplorables
</div>
<div id="byline">
  A website by Ben Cutilli
</div>
{% endblock %}
