{% extends "shared/base.html" %}
{% load staticfiles %}

{% block inheritor %}
<style>
  #headliner {
    font-family:"Vibur", serif;
    text-align:center;
    font-size:100px;
    padding:10px;
  }
  #punchline {
    text-align:center;
    font-family:"Quattrocento", serif;
    padding-bottom:10px;
  }
  #byline {
    text-align:center;
    font-family:"Quattrocento", serif;
    font-size:9px;
  }
  #inheritorContent {
    margin:60px 10px 10px 10px;
  }
  #sourceCodeLinkDiv {
    text-align:center;
    padding-top:20px;
  }
</style>
<div id="headliner">
  rogger
</div>
<div id="punchline">
  The best running log folks, believe me.
</div>
<div id="byline">
  A website by Ben Cutilli
</div>
<div id="sourceCodeLinkDiv">
  Source code for this website (and most, if not all of its respective citations), and other helpful information can be found <a href="https://www.github.com/benvcutilli/rogger">here</a>.
  This site may use cookies from third parties,
  in addition to cookies created by the site itself.
</div>
{% endblock %}
