{% load staticfiles %}
<div class="comment">
  <div class="commentHeader">
    <table class="commentInfo">
      <tbody>
        <tr>
          <td>
            <img src="{{ comment.owner.userinfo.thumbURL }}" class="commentUserPicture"/>
          </td>
          <td>
            {{ comment.owner.username }}
          </td>
          <td>
            <span class="toBeLocalTime" hidden>{{ comment.dateAndTime.isoformat }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="deleteCommentButton" onclick="deleteComment(this, {{ comment.id }});">
    delete
  </button>
  <div class="commentContent">
    {{ comment.commentText }}
  </div>
</div>
