{% extends 'shared/base.html'%}
{% load staticfiles %}
{% block inheritor %}
<script src="{% static 'shared/codemirror-5.22.0/lib/codemirror.js' %}"></script>
<link rel="stylesheet" href="{% static 'shared/codemirror-5.22.0/lib/codemirror.css' %}">
<script src="{% static 'shared/codemirror-5.22.0/addon/mode/simple.js' %}"></script>
<style>
  #pageContainer {
    box-sizing:border-box;
    padding-top:50px;
    height:100%;
    background-color: #eee;
  }
  #entryPropertiesDiv {
    background-color: #556;
  }
  #titleText, #durationText, #distanceText, #shoeSelect, #typeSelect, #subtypeSelect, #dateText, #distanceInput {
    box-sizing: border-box;
    height:50px;
    font-size:20px;
    padding:15px;
    outline:none;
    border:none;
    text-align:center;
    background-color: #556;
    color:#fff;
  }
  #titleText {
    width:50%;
  }
  #dateText {
    width:50%;
  }
  #durationText > input {
    width:20%;
    height:100%;
    color:inherit;
    font-size:inherit;
    background-color:#556; /* have to define this because of IE 8 LOL */
    box-sizing:inherit;
    outline:inherit;
    border:inherit;
  }
  #durationHours {
    text-align:right;
    margin-left:20%;
  }
  #durationMinutes {
    text-align:center;
  }
  #durationSeconds {
    text-align:left;
    margin-right:20%;
  }
  #durationText, #distanceText {
    width:50%;
    display:inline-block;
  }
  #shoeSelect, #typeSelect {
    width:28%;
    /* citation [13] */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* end citation */
    height:60px;
    margin-left:22%;
  }
  @media screen and (max-width:600px) {
    #durationText, #distanceText, #titleText, #dateText {
      width:100%;
      display:inline-block;
    }
    #shoeSelect, #typeSelect, #subtypeSelect {
      width:100%;
      /* citation [13] */
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      /* end citation */
      height:60px;
    }
  }
  #entryText {
    box-sizing: border-box;
    width:100%;

    background-color:#fff;
    padding:15px;
    font-size:16px;
  }
  #whoops {
    color:#f00;
  }
  h3 {
    text-align:center;
  }
  #distanceInput {
    background-color:none;
    text-align:right;
    width:90px;
  }
</style>
<div id="pageContainer">
  {% if error != "" %}
  <h3>
    <span id="whoops">Whoops!</span> {{ error }}
  </h3>
  {% endif %}
  {% block workoutinfo %}
  {% endblock %}

  {% block comments %}
  {% endblock %}
</div>



<script>
  var number = "\\d+(?:\\.\\d+)?";
  var numberRegex = new RegExp(number, "g");

  var units = "(?:miles|mile|mi|meters|meter|m|kilometers|kilometer|km|k)";
  var unitsRegex = new RegExp(units, "g");
  var distanceRegex = new RegExp("\\+(?:" + number + "x)*" + number + units, "g");
  var distanceDict = {
    miles:      1.0,
    mile:       1.0,
    mi:         1.0,
    meters:     1.0/1609.0,
    meter:      1.0/1609.0,
    m:          1.0/1609.0,
    kilometers: 1.0/1.609,
    kilometer:  1.0/1.609,
    km:         1.0/1.609,
    k:          1.0/1.609,

  };
  CodeMirror.defineSimpleMode("logEntryHighlighting", {
    start: [
      {
        regex:/@[a-zA-Z_]+/,
        token:"username"
      },
      {
        regex:distanceRegex,
        token:"distance"
      }
    ]
  });
  var logEditorCodeMirrorInstance = CodeMirror.fromTextArea(document.getElementById("entryText"), {
    mode:"logEntryHighlighting",
    lineWrapping: true,
    {% block logentrydisable %}{% endblock %}
  })

  logEditorCodeMirrorInstance.setValue("{{ escapedEntry|safe }}")
  {% if viewRenderMode == False %}
  logEditorCodeMirrorInstance.on("change", processLogDistance);
  function processLogDistance() {
    var logText = logEditorCodeMirrorInstance.getValue();
    var globalParse = logText.match(distanceRegex);
    //console.log(globalParse);
    if (globalParse != null) {
      var total = 0.0;
      for (i = 0; i < globalParse.length; i += 1) {
        match = globalParse[i];
        var subTotal = 1.0;
        var quantities = match.match(numberRegex);
        var unit = match.match(unitsRegex);
        for (j = 0; j < quantities.length; j += 1) {
          quantity = quantities[j];
          subTotal *= Number(quantity);
        }
        subTotal *= distanceDict[unit];
        total += subTotal;
      }
      //console.log(total);
      //document.getElementById("distanceText").innerHTML = total + " miles";
      document.getElementById("distanceInput").value = total;
      var hours = document.getElementById("durationHours").value;
      var minutes = document.getElementById("durationMinutes").value;
      var seconds = document.getElementById("durationSeconds").value;
      if (!(hours == "" && minutes == "" && seconds == "")) {
        hours = Number(hours) * 60.0 * 60.0;
        minutes = Number(minutes) * 60.0;
        seconds = Number(seconds);
        var perMile = (hours+minutes+seconds)/total;
        var hoursPerMile = Math.floor(perMile/(3600));
        var minutesPerMile = Math.floor((perMile - (hoursPerMile*3600))/60);
        var secondsPerMile = (perMile - hoursPerMile*3600 - minutesPerMile*60);
        document.getElementById("distanceText").innerHTML += " @ ";
        if (hoursPerMile != 0) {
          document.getElementById("distanceText").innerHTML += (hoursPerMile < 10 == 1 ? "0" + hoursPerMile : hoursPerMile) + ":";
        }
        var secondsPerMileInteger = secondsPerMile.toString().split('.')[0];
        var secondsPerMileDecimal = secondsPerMile.toString().split('.')[1];
        if (secondsPerMileInteger.length < 2) {
          secondsPerMileInteger = "0" + secondsPerMileInteger;
        }
        if (secondsPerMileDecimal != null && secondsPerMileDecimal.length > 2) {
          secondsPerMileDecimal = secondsPerMileDecimal.slice(0,2);
        } else if (secondsPerMileDecimal == null) {
          secondsPerMileDecimal = "0"
        }
        document.getElementById("distanceText").innerHTML += (minutesPerMile < 10 == 1 ? "0" + minutesPerMile : minutesPerMile) + ":" + secondsPerMileInteger + (secondsPerMileDecimal.length != 0 ? "." : "") + secondsPerMileDecimal + "/mile";
      }
    } else {
      //document.getElementById("distanceText").innerHTML = "0 miles";
    }

  }
  {% else %}
  $(".cm-username").each(function(index, element) {
    element.onclick = function() {
      window.location = "http://localhost:8000/users/" + element.innerHTML.slice(1, element.innerHTML.length);
    };
  });
  {% endif %}
  {% block extrascript %}
  {% endblock %}

</script>
{% endblock %}
