{% extends 'workoutLogging/entrybase.html' %}
{% load staticfiles %}
{% block defaultdistance %}0{% endblock %}
{% block shoeblock %}
  <option value="-1">select shoe</option>
{% for shoe in shoes %}
  <option value="{{ shoe.0.id }}" {% if form.shoe.data == shoe.1 %}selected{% endif %}>{{ shoe.0.name }}</option>
{% endfor %}
{% endblock %}
{% block buttonblock %}
<style>
  #saveEntryButton {
    outline:none;
    border:none;
    height:50px;
    width:50%;
    text-align:center;
    font-size:16px;
    /*background-color:#778;*/
    color:#fff;
  }
  #saveEntryButton {
    margin-left:25%;
    margin-right:25%;
    background-color:#0f0;
  }
</style>

<button id="saveEntryButton">
  Save
</button>
{% endblock %}
{% block comments %}
{% endblock %}
