{% extends 'workoutLogging/editentry.html'%}
{% load staticfiles %}
{% block titledisable %}disabled{% endblock %}
{% block datedisable %}disabled{% endblock %}
{% block hoursdisable %}disabled{% endblock %}
{% block minutesdisable %}disabled{% endblock %}
{% block secondsdisable %}disabled{% endblock %}
{% block shoedisable %}disabled{% endblock %}
{% block typedisable %}disabled{% endblock %}
{% block subtypedisable %}disabled{% endblock %}
{% block buttonblock %}{% endblock %}
{% block logentrydisable %}readOnly: true,
cursorBlinkRate: -5,{% endblock %}
